Django==1.8.8
django-filter==0.13.0
django-haystack==2.4.1
djangorestframework==3.3.3
elasticsearch==2.3.0
Markdown==2.6.6
Pillow==9.0.1
pyelasticsearch==0.5
requests==1.2.3
simplejson==3.8.2
six==1.10.0
urllib3==1.16
